* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tema Scuro */
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode input,
.dark-mode button {
    background-color: #333;
    color: white;
    border: 1px solid white;
}

.dark-mode #send-task {
    background-color: #222;
}

.dark-mode #send-task:hover {
    background-color: #444;
}